<nav class="navbar navbar-dark bg-dark text-light">
  <a class="navbar-brand" href="/"><img src="/static/images/logo.png" alt="Logo" width="30%"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'books:book-list' %}">Voir tous les livres</a>
        </li>
        {% if user.has_author_account or user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'books:book-create' %}">Ajouter un livre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'poll-list' %}">Voir tous les sondages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'poll-create' %}">Ajouter un sondage</a>
          </li>
        {% endif %}
        {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'categories:category-list' %}">Voir toutes les catégories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'categories:category-create' %}">Ajouter une catégorie</a>
          </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:logout' %}">Se déconnecter</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>