{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<form method="POST" action="{% url 'accounts:login' %}" class="form-group">
	{% csrf_token %}
	{% if form.errors %}
		<div class="alert alert-danger" role="alert">
		  Les informations fournies sont invalides
		</div>
	{% endif %}

	{% if next %}
		<div class="alert alert-danger" role="alert">
			Impossible d'accéder à cette page sans vous êtes préalablement authentifié...
		</div>
	{% endif %}

	{{ form.username|as_crispy_field }}
	{{ form.password|as_crispy_field }}

	<input type="submit" name="login" value="Se connecter" class="btn btn-block btn-outline-primary">
	<input type="hidden" name="next" value="{{ next }}">
	<div style="margin-top: 10px" class="text-center">
		Pas encore de compte? Inscrivez-vous <a href="/accounts/register">ici</a>!
	</div>
</form>
{% endblock %}