{% extends 'base.html' %}

{% block content %}

    {% comment "Filters" %}
        <div>
            {% with str='Cette chaîne de caractères va être divisée' %}
                <p><b>Chaîne de caractères originale:</b> {{ str }}</p>
                <p>Filtre <b>random</b>: {{ str.split|random }}</p>
                <p>Filtre <b>slice</b>: {{ str.split|slice:'1:4' }}</p>
                <p>Filtre <b>join</b>: {{ str.split|join:'~' }}</p>
                <p>Filtre <b>cut</b>: {{ str.split|join:'~'|cut:'~' }}</p>
                <p>Filtre <b>wordcount</b>: {{ str.split|wordcount }}</p>
                <p>Filtre <b>timesince</b>: {{ object.create_stamp|timesince }}</p>
            {% endwith %}
        </div>
    {% endcomment %}

    <div style="margin-bottom: 20px">
        <h4><b>Titre:</b> {{ object.book.title }}</h4>

        <div><b>Question:</b> {{ object.question }}</div>
        <div><b>Sondeur:</b> {{ object.poller }}</div>
        <div><b>Date de création:</b> {{ object.create_stamp|date:"Y M d" }}</div>
        <div><b>Livre:</b> {{ object.book }}</div>
    </div>
    {% if object.poller == user %}
        <form method="POST" action="{% url 'poll-delete' object.pk %}" style="margin-bottom: 5px">
            {% csrf_token %}
            <input type="submit" name="submit" value="Supprimer le sondage" class="btn btn-block btn-outline-danger">
        </form>
    {% endif %}
    <a href="{% url 'poll-update' object.pk %}" class="btn btn-block btn-outline-secondary">Modifier le sondage</a>
    <a href="{% url 'poll-list' %}" class="btn btn-block btn-outline-primary">Retour à la liste des sondages</a>

{% endblock %}