{% extends 'base.html' %}

{% block content %}
    <h4><b>Titre:</b> {{ object.title }}</h4>
    <p><b>Auteur:</b> 
            {{ object.author }}
        </p>
    <p><b>Publié le:</b> {{ object.create_stamp }}</p>
    <p><b>Prix:</b> {{ object.price }}$</p>
    <p><b>Résumé:</b> {{ object.summary }}</p>

    {% if object.author == user %}
        <a href="{% url 'books:book-delete' object.id %}" class="btn btn-danger">Supprimer le livre</a>
    {% else %}
        <button onclick="{{ object.like }}" class="btn btn-primary">J'aime <i class="fas fa-heart"></i></button>
    {% endif %}

    <hr>
    <h3>Commentaires</h3>

    {% load crispy_forms_tags %}
    <form method="POST" action="{% url 'comments:comment-create' object.id %}">
        {% csrf_token %}
        {{ comment_form|crispy }}

        <input type="reset" name="reset" value="Réinitialiser" class="btn btn-warning">
        <input type="submit" name="submit" class="btn btn-primary" value="Ajouter un commentaire">
    </form>

    <hr>
    
	{% for comment in comment_list %}
        <div style="background-color: white; padding: 10px; margin-bottom: 5px; position: relative;" class="row">
            <div class="col-sm-10">
                {% if comment.anonymous %}
                    <p><em>Anonyme</em></p>
                {% else %}
                    <p><em>{{ comment.author }}</em></p>
                {% endif %}
                <p><b>{{ comment.title }}</b></p>
                <p>{{ comment.content }}</p>
            </div>
            {% if comment.author == user %}
                
                <div class="col-1">
                    <form method="POST" action="{% url 'comments:comment-delete' comment.id %}">
                        {% csrf_token %}
                        <input type="submit" name="submit" value="Supprimer" class="btn btn-danger">
                    </form>
                </div>
            {% endif %}
        </div>
        {% empty %}
        <div>Aucun commmentaire</div>
	{% endfor %}

{% endblock %}