{% extends 'base.html' %}

{% block content %}

    {% for book in object_list %}
        <div class="card" style="margin-bottom: 15px">
          <div class="card-header">
            <a href="{% url 'books:book-detail' book.id %}">{{ book.title }}</a>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                <p> {{ book.summary }}</p>
                    <footer class="blockquote-footer">
                        <cite title="Author">Par 
                            {{ book.author }} 
                        </cite>
                    </footer>
                    </blockquote>
                <p><b>Catégories:</b> {{ book.categories.all|join:", " }}</p>
            </div>
        </div>
        {% empty %}  
        <div class="alert alert-warning text-center">
            Nous n'avons malheureusement aucun livre à vous proposer pour le moment. Mais revenez bientôt, nous aurons certainement de quoi vous faire rêver!
        </div>
    {% endfor %}


{% endblock %}